@charset "UTF-8";
body{
    font-family: "Sawarabi Gothic";
    overflow-x: hidden;
}

.site__main {
    padding: 20px;
    
    
}

.layout__main {
    margin-top: 10px;
}


.place {
    font-size: 10pt;
}

.date {
    text-align: right;
    font-size: 10pt;
}

.category__tag {
    font-size: 10pt;
    text-align: right;
}

.content__main {
    padding: 10px;
    margin-bottom: 20px;
}


  

h1{
    padding: 1rem 2rem;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  margin-top: 50px;
}
.content__main2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.images1{
    padding: 30px;
}

.shopname{
    text-align: left;
    margin: 10px;
    font-size: 20px;
}

.detail{
    text-align: left;
    padding: 20px;
    font-size: 14px;
    margin-top: -20px;
}

.content__text {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 30px;

}

.info{
    border:none;
    border-top:dashed 2px gray;
    height:3px;
    color:#FFFFFF;
    width: 80%; 
}
.content__information {
    width: 350px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    
}

.information{
    text-align: left;
    
    font-size: 12px;
    margin-left: 20px;
}

.icon{
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.icon1{
    margin-right: 20px;
}
.icon2{
    margin-left: 20px;
}
