@charset "UTF-8";

p{
    font-family: "Sawarabi Gothic";
}


.container{
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;  
}

.head{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    animation-name: slideIn;
    animation-duration: 3s;
}

@keyframes slideIn {
    0% {
      transform: translateX(180px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
    }
    40%,100% {
      opacity: 1;
    }
  }


h1 {
    font-size: 40px;
    font-family: 'DIN Alternate', sans-serif;

}

.mainText{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}


.site__title{
    text-align: center;
    font-size: 23px;
    padding: 10px;
}

.card{
    padding: 10px;
    
}

.images{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;


  
}

.category{
    font-size: 12px;
}

.title{
    font-size: 14px;
    flex-grow: 1;
  
}
.date{
    text-align: right;
    
}

.rowtag{
    font-size: 13px;
    text-align: right;
    

}

.cardList {
    display: flex;
    flex-direction: row; /*横並びにする*/
    justify-content: space-between; /*アイテムを両端に揃えて均等配置*/
    flex-wrap: wrap; /*折り返して複数行にする*/
}
.cardList_item {
    width: calc((100% - 20px) / 2); /*アイテムの幅を指定*/
}
