@charset "UTF-8";

.mainVisual {
  background: white;
  
}
.mainVisual__inner {
  display: flex;
  flex-direction: column-reverse;
  padding: 50px;
}
.mainVisual__image {
  text-align: center;
}

@media screen and (min-width: 768px),print {
  .mainVisual {
    padding: 40px 40px;
  }
  .mainVisual__inner {
    max-width: 1080px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mainVisual__image {
    flex-shrink: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

  }
}


/*----------------------------------------
	heading
----------------------------------------*/
.headingL {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
 
}
@media screen and (min-width: 768px),print {
  .headingL {
    margin-bottom: 10px;
    font-size: 20px;
  }
}


 